In [1]:
# 71
my_variable = ()

In [3]:
# 72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [6]:
# 73
Number = (1, )
Number

(1,)

In [ ]:
# 74
# 튜플은 저장되어 있는 데이터를 변경할 수 없다.

In [7]:
t = 1, 2, 3, 4
type(t)
# 괄호 없을 경우 튜플의 자료구조를 가짐

tuple

In [9]:
t = ('a', 'b', 'c')
y = list(t)
y[0] = 'A'
t = tuple(y)

t

('A', 'b', 'c')

In [10]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [11]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [12]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [21]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)