In [1]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [2]:
price_list = [32100, 32150, 32000, 32500]
for i, price in enumerate(price_list):
    print(i, price)

0 32100
1 32150
2 32000
3 32500

In [20]:
price_list = [32100, 32150, 32000, 32500]

for i, price in enumerate(price_list):
    print(len(price_list)-i-1, price)

3 32100
2 32150
1 32000
0 32500

In [22]:
# 174
price_list = [32100, 32150, 32000, 32500]

for i, price in enumerate(price_list):
    print(100+i*10, price)

100 32100
110 32150
120 32000
130 32500

In [24]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i]+my_list[i+1])

가나
나다
다라

In [25]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(2, len(my_list)):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [36]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(1,len(my_list)):
    print(my_list[len(my_list)-i], my_list[len(my_list)-i-1])

라 다
다 나
나 가

In [37]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [38]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [45]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

voladity = []

for i in range(len(low_prices)):
    voladity.append(high_prices[i] - low_prices[i])
    
voladity

[50, 100, 30, 80, 0]

In [47]:
# 181
apart = [["101호","102호"],["201호", "202호"],["301호","302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [50]:
# 182
stock = [["시가",100, 200, 300], ["종가",80, 210, 330]]

In [52]:
stock= {"시가":[100, 200, 300], "종가":[80, 210, 330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [54]:
stock = {"10/10":[80, 110, 70, 90], "10/11":[210, 230, 190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [58]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [63]:
# 186, 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[len(apart)-1-i][len(apart[i])-1-j], "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [64]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], "호")
        print("=====")

101 호
=====
102 호
=====
201 호
=====
202 호
=====
301 호
=====
302 호
=====

In [65]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], "호")
    print("=====")

101 호
102 호
=====
201 호
202 호
=====
301 호
302 호
=====

In [66]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], "호")
print("=====")

101 호
102 호
201 호
202 호
301 호
302 호
=====

In [69]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j]*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [70]:
# 192
for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j]*1.00014)
    print("=====")

2000.28
3050.427
2050.2870000000003
1980.2772
=====
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
=====
15452.163
15052.107
15552.177
14902.086000000001
=====

In [71]:
# 193
result = []
for i in range(len(data)):
    for j in range(len(data[i])):
        result.append(data[i][j]*1.00014)
result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

In [78]:
# 194
result = []
result_ = []
for i in range(len(data)):
    for j in range(len(data[i])):
        result.append(data[i][j]*1.00014)
    result_.append(result)
    result = []
result_

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [79]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i, text in enumerate(ohlc[0]):
    if text =="close":
        x = i
    
for i in range(1,len(ohlc)):
    print(ohlc[i][x])

100
190
310

In [80]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i, text in enumerate(ohlc[0]):
    if text =="close":
        x = i
    
for i in range(1,len(ohlc)):
    if ohlc[i][x]>150:
        print(ohlc[i][x])

190
310

In [83]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if(row[3]>=row[0]):
        print(row[3])

100
310

In [85]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
voladity = []

for row in ohlc[1:]:
    voladity.append(row[1]-row[2])
voladity

[40, 30, 10]

In [86]:
# 199
for row in ohlc[1:]:
    if row[0] < row[3]:
        print(row[1]-row[2])

10

In [89]:
# 200
voladity = []
for row in ohlc[1:]:
    voladity.append(row[3]-row[0])
    
sum(voladity)

0