In [1]:
def print_coin():
    print("비트코인")
print_coin()

비트코인

In [2]:
print_coin()

비트코인

In [4]:
for i in range(100):
#     print_coin()

IndentationError: expected an indented block (4015251113.py, line 2)

In [6]:
def print_coins():
    for i in range(100):
        print_coin()

# print_coins()

In [7]:
# 205 
# 함수를 정의하기 이전에 함수를 실행시켰기 때문

In [10]:
# 211
def 함수(문자열):
    print(문자열)
    
함수("안뇽")

안뇽

In [12]:
#215
def print_with_smile(x):
    print(x,":D")
    
print_with_smile("x")

x :D

In [13]:
print_with_smile("안녕하세요")

안녕하세요 :D

In [15]:
def print_upper_price(x):
    print(x*1.3)
    
print_upper_price(30)

39.0

In [16]:
#218
def print_sum(a,b):
    print(a+b)
    
print_sum(1,2)

3

In [19]:
# 219
def print_arithmetic_operation(a,b):
    print(a,"+",b,"=",a+b)
    print(a,"-",b,"=",a-b)
    print(a,"*",b,"=",a*b)
    print(a,"/",b,"=",a/b)

In [20]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [22]:
def print_max(a,b,c):
    if(a>b):
        if(a>c):
            print(a)
        else:
            if(b>c):
                print(b)
            else:
                print(c)
    else:
        if(b>c):
            print(b)
        else:
            print(c)

In [25]:
print_max(3,2,1)

3

In [27]:
def print_reverse(x):
    print(x[::-1])
print_reverse("python")

nohtyp

In [29]:
# 222
def print_score(a):
    print(sum(a)/len(a))

print_score([1,2,3,4])

2.5

In [30]:
# 223
def print_even(a):
    for i in a:
        if(i%2 == 0):
            print(i)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [37]:
def print_keys(a):
    print(a.keys())
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])

In [38]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(x, a):
    print(x[a])

[100, 130, 100, 100]

In [45]:
def print_5xn(x):
    iter = int(len(x)/5)
    print(iter)
    for i in range(iter):
        print(x[i*5:i*5+5])


print_5xn("아이엠어보이유알어걸")

2
아이엠어보
이유알어걸

In [49]:
def print_xn(x,a):
    iter = int(len(x)/a)
    print(iter)
    for i in range(iter+1):
        print(x[i*a:i*a+a])


print_xn("아이엠어보이유알어걸",3)

3
아이엠
어보이
유알어
걸

In [50]:
def calc_monthly_salary(x):
    y = int(x/12)
    print(y)
    
calc_monthly_salary(122323)

10193

In [55]:
# 231
def n_plus_1(n):
    result = n + 1
    return result

n_plus_1(3)
print(n_plus_1(3))

4

In [56]:
# 232
def make_url(x):
    return "www."+x+".com"

make_url("naver")

'www.naver.com'

In [59]:
def make_list(x):
    a = []
    for i in range(len(x)):
        a.append(x[i])
    return a


make_list("abcd")

['a', 'b', 'c', 'd']

In [60]:
# 234
def pickup_even(x):
    a = []
    for i in x:
        if(i%2 == 0):
            a.append(i)
    return a

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [67]:
def convert_int(x):
    x = x.replace(",","")
    return int(x)


convert_int("1,234,567")

1234567