https://wikidocs.net/book/922

초보자를 위한 파이썬 300제

# print 문 기초

In [11]:
print('Hello world')
print("Mary's Cosmetic")
print('신씨가 소리질렀다. "도둑이야"')
print('"C:/Windows"')

print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 행변환, \t는 탭
print("오늘은","일요일")

print("naver;kakao;sk;samsung")
print("first",end = " ");print("second")

print(5/3)

Hello world
Mary's Cosmetic
신씨가 소리질렀다. "도둑이야"
"C:/Windows"
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
first second
1.6666666666666667

# 변수 기초

In [19]:
samsung = 50000
print(samsung*10)

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

s = "hello"
t = "python"
print(s+"! "+t)
2 + 2*3

a = "132"
print(type(a))

500000
298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>
hello! python
<class 'str'>

In [23]:
num_str = "720"
str_num = int(num_str)
print(type(str_num))

year = "2020"
yearr = int(year)
yearr1 = yearr - 1
print(yearr1)

<class 'int'>
2019

# 파이썬 문자열

In [48]:
letters = "python"
print(letters[0], letters[2])

license_plate = "24가 2210"
print(license_plate[-4:])

string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

string = "PYTHON"
print(string[::-1])

phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))
print(phone_number.replace("-",""))

url = "http://sharebook.kr"
print(url.split(".")[-1])

string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
Abcdfe2A354A32A

In [67]:
print("-"*80)

t1 = 'python'
t2 = 'java'
print((t1+" "+t2)*4)

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(1)
print('이름: %s 나이: %d'%(name1, age1))
print('이름: %s 나이: %d'%(name2, age2))

print(2)
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

print(3)
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

상장주식수 = "5,969,782,550"
상장주식 = int(상장주식수.replace(",",""))
print(상장주식, type(상장주식))

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

data = "   삼성전자    "
print(data.strip())

--------------------------------------------------------------------------------
python javapython javapython javapython java
1
이름: 김민수 나이: 10
이름: 이철희 나이: 13
2
이름: 김민수 나이: 10
이름: 이철희 나이: 13
3
이름: 김민수 나이: 10
이름: 이철희 나이: 13
5969782550 <class 'int'>
2020/03
삼성전자

https://wikidocs.net/78558

In [25]:
ticker = "btc_krw"
print(ticker.upper())

ticker = "BTC_KRW"
print(ticker.lower())

hello = 'hello'
print(hello.capitalize())

file_name = "보고서.xls"
file_name.endswith(("xlsx","xls"))


file_name2 = "2020_보고서.xlsx"
file_name2.startswith("2020")

ticker = "btc_krw"
ticker.split("_")

date = "2020-05-01"
date.split("-")

data = "039490     "
data.rstrip()

BTC_KRW
btc_krw
Hello

'039490'

# 리스트

In [33]:
movie_rank = ['닥터 스테레인지','스플릿','럭키']
print(movie_rank)

movie_rank.append('배트맨')
print(movie_rank)

movie_rank.insert(1,'배트맨')
print(movie_rank)

del movie_rank[3]
print(movie_rank)

['닥터 스테레인지', '스플릿', '럭키']
['닥터 스테레인지', '스플릿', '럭키', '배트맨']
['닥터 스테레인지', '배트맨', '스플릿', '럭키', '배트맨']
['닥터 스테레인지', '배트맨', '스플릿', '배트맨']