In [1]:
print('직각삼각형 그리기\n')
leg = int(input('변의 길이: '))

for i in range(leg):
    print('* ' * (i + 1))

area = (leg ** 2) / 2
print('넓이:', area)

직각삼각형 그리기

변의 길이: 3
*
* *
* * *
넓이: 4.5

In [11]:
print('제곱 구하기\n')
leg = int(input('변의 길이: '))

print('제곱 : ')

print(leg**2)

제곱 구하기

변의 길이: 10
제곱 :
100

In [18]:
num = 1

while num <= 100:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [20]:
print('력받은 숫자만큼 반복하기\n')
leg = int(input('반복할 숫자 : '))

num = 1
while num <= leg:
    print(leg)
    num += 1

력받은 숫자만큼 반복하기

반복할 숫자 : 3
3
3
3

print('제곱표\n')
leg = int(input('제곱할 숫자 : '))

num = 1
while num <= leg:
    print(num, num**2)
    num += 1

In [28]:
print('제곱표\n')
leg = int(input('제곱할 숫자 : '))

num = 1
while num <= leg:
    print(num, num**2)
    num += 1

제곱표

제곱할 숫자 : 6
1 1
2 4
3 9
4 16
5 25
6 36

In [32]:
print('고무공 튀어올름\n')
leg = int(input('최초 고무공 높이 : '))

num = 1
while num <= 10:
    print(num, round(3/5*leg,4))
    num += 1
    leg *=3/5

고무공 튀어올름

최초 고무공 높이 : 100
1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

In [33]:
number = 358

rem = rev = 0
while number >= 1:
    rem = number % 10
    rev = rev * 10 + rem
    number = number // 10

print(rev)
-- 1
    rem = 8
    rev = 8
    number = 35
-- 2
    rem = 5
    rev = 85
    num = 3
-- 3
    rem = 3
    rev = 853
    num = 0

853

In [44]:
max = 10
while True:
    i = int(input('값을 입력해 보세요'))
    if max < i:
        print('내가 모르는 숫자임')
        break

값을 입력해 보세요11
내가 모르는 숫자임

In [50]:
i = int(input('숫자를 입력해보세요 : '))
if i == 1:
    print('일')
elif i == 2:
    print('이')
else:
    print('삼')

숫자를 입력해보세요 : 3
삼

In [56]:
num = int(input())
result = str(num)
    
if num >= 1000000:
    result = str(num // 1000000) + 'M'
elif num >= 1000:
    result = str(num // 1000) + 'k'
elif num >= 0:
    pass    
print(result)

1
1

In [59]:
num = 0
while True:
    i = int(input('더할 숫자를 입력하세요!'))
    if(i > 0):
        num += i
    else:
        print(num)
        break

더할 숫자를 입력하세요!2
더할 숫자를 입력하세요!3
더할 숫자를 입력하세요!4
더할 숫자를 입력하세요!-1
9

In [61]:
def triple(x):
    x=x*3
    return x


triple('z')

'zzz'

In [77]:
def age(x):
    from datetime import datetime
    today = datetime.today()
    
    return today.year - x + 1

age(1997)

26

In [84]:
def bok(a,n,y):

    x = 0
    while x < y:
        a = a*n + a
        x+=1
    return a

bok(10000000,0.03875,5)

12093588.412876923

In [101]:
def palindrome(x):
    x = x.lower()
    x = x.replace(' ','')
    a = x[::-1]
    if x == a:
        print('True')
    else:
        print('False')
        
palindrome('abc bA')

True

In [107]:
def sumOfDigits(x):
    y = list(str(x))
    j = 0
    for i in y:
        j += int(i)
    return j

sumOfDigits(1234567)

28

In [129]:
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]

stem_leaf = [[], [], []]

for i in score:
    if i // 10 == 0:
        stem_leaf[0].append(i)
    elif i // 10 == 1:
        stem_leaf[1].append(i%10)
    else:
        stem_leaf[2].append(i%10)

stem_leaf

[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]

In [131]:
def sumOfDigits(num):
    i = map(int, list(str(num)))
    return sum(i)

sumOfDigits(123542)

17

In [134]:
L = list(range(2,30))
sosoo = []

for i in L:
    k = 0
    for j in range(1,i+1): 
        if i%j == 0:
            k += 1
    if k == 2:
        sosoo.append(i)
        
sosoo

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [135]:
d = int(input('값을 입력하시오 : '))
m = d
b = []
while True:
    d, m = divmod(d, 2)
    b.insert(0, m)
    if d == 0:
        break
b

값을 입력하시오 : 10

[1, 0, 1, 0]

In [136]:
def read_date():
    year, month, day = tuple(map(int, input().split()))
    return year, month, day

def print_date(date):
    year, month, day = date
    print("%02d/%02d/%04d" % (month, day, year))

def advance_day(date):
    year, month, day = date
    
    # end_of_month = (month == 1 and day == 31) or \
               # (month == 2 and day == 28) or \
               # (month == 3 and day == 31) or \
               # (month == 4 and day == 30) or \
               # (month == 5 and day == 31) or \
               # (month == 6 and day == 30) or \
               # (month == 7 and day == 31) or \
               # (month == 8 and day == 31) or \
               # (month == 9 and day == 30) or \
               # (month == 10 and day == 31) or \
               # (month == 11 and day == 30) or \
               # (month == 12 and day == 31)
    
    #end_of_month = (month in [1, 3, 5, 7, 8, 10, 12] and day == 31) or \
    #                     (month in [4, 6, 9, 11] and day == 30) or \
    #                     (month == 2 and day == 28)
    
    end_of_month = (month, day) in [(1, 31), (2, 28), (3, 31), (4, 30), (5,
        31), (6, 30), (7, 31), (8, 31), (9, 30), (10, 31), (11, 30), (12, 31)]
    
    end_of_year = month == 12 and day == 31
    
    if end_of_month:
        if end_of_year:
            year += 1
            month = 1
            day = 1
        else:
            month += 1
            day = 1
    else:
        day += 1
    
    return year, month, day
    
if __name__ == "__main__":
    today = read_date()
    print_date(today)
    tomorrow = advance_day(today)
    print_date(tomorrow)

2022 12 31
12/31/2022
01/01/2023

In [139]:
def korean_number(a):
    googoo = {3:'삼', 6:'육', 9:'구'}
    return googoo[a]

korean_number(3)

'삼'